.card{
    padding: 1rem;
    max-width: 25rem;
    border: solid 2px;
    border-color: rgb(129, 129, 255);
    background-color: azure;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}

.links{
    color: black;
    text-decoration: none;
}