.container{
    margin-top: 5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.searchResults{ 
    border-radius: 3px;
    width: 25rem;
    margin-bottom: 1rem;
}